@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');

html, body{
    font-size: 16px;
    height:100%;
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 7px;
    background-color: #ff6600;
}

.header {
    height: 184px;
    background-color: #1a1a1a;
}

.photo {
    padding-top: 17px;
    padding-left: 42px;
}

.headline {
    font-family: 'Arimo', sans-serif;
    color: white;
    padding-left: 42px;
}

.headline h1 {
    margin-bottom: 0;
    padding-top: 32px;
    font-weight: 700;
    font-size: 36pt;
    letter-spacing: 4px;
}
.headline h2 {
    margin-top: 0;
    font-weight: 400;
    font-size: 15pt;
    letter-spacing: 1.9px;
}
.headline span {
    color: #ff6600;
}

@media only screen and (max-width: 768px) {
    .headline h1 {
        font-size: 24pt;
    }
    .headline h2 {
        font-size: 10pt;
    }
}

.maincollumn {
    background-color: white;
    padding-left: 4%;
}
.maincollumn h2 {
    font-family: 'Oswald', sans-serif;
    color: #ff6600;
}

.maincollumn p {
    margin-bottom: 0;
    color: #737373;
}
.bottomcolumn {
    padding-left: 0;
}
.titleprof{
    font-weight: bold;
}
.school {
    font-size: 10pt;
}

.experiencecollumn {
    background-color: #e6e6e6;
    padding-left: 0;
    padding-right: 0;
}
.experiencecollumn h2 {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 17pt;
    font-weight: bold;
    color: #737373;
    text-align: right;
    display: block;
}
.experiencecollumn p{
    margin-left: 36px;
    padding-right: 15px;
    font-size: 11pt;
    color: #1a1a1a;
}
.skills {
    background-color: #1a1a1a;
    margin-top: 48px;
    padding-bottom: 18px;
    padding-left: 36px;
    padding-right: 36px;
}
.skills h3{
    color: white;
    padding-top: 10px;
}
.skills p{
    color: white;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 4px;
}

.empty .bar{
    display: block;
    height: 10px;
    width: 52%;
    padding-right: 15px;
    background-color: #ff6600;
    border-radius: 5px;
}

.empty {
    display: block;
    height: 10px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

.empty .js{
    display: block;
    height: 10px;
    width: 10%;
    padding-right: 15px;
    background-color: #ff6600;
    border-radius: 5px;
}
.empty .html5{
    display: block;
    height: 10px;
    width: 48%;
    padding-right: 15px;
    background-color: #ff6600;
    border-radius: 5px;
}
.empty .css3{
    display: block;
    height: 10px;
    width: 40%;
    padding-right: 15px;
    background-color: #ff6600;
    border-radius: 5px;
}
.empty .sql{
    display: block;
    height: 10px;
    width: 35%;
    padding-right: 15px;
    background-color: #ff6600;
    border-radius: 5px;
}
.empty .php{
    display: block;
    height: 10px;
    width: 5%;
    padding-right: 15px;
    background-color: #ff6600;
    border-radius: 5px;
}